div.header{
    margin :0;
    background-color:#000000;
    height:100px; 
    width:100%;
    position:sticky;
}

h1{
   font-family:'Times New Roman';
    text-align: left;
    color:#ffffff;
    font-size:50px;
    font-weight:bold;
    margin : 0;
    padding:21.25px 20px;
}

/* BODY START*/
body{
    margin:0;
    width:1440px;
    height:100%;
    background-color:white;
    position:relative;
}

.firstb{
    position: relative;
    float: left;
    width:15%;
    height:527.59px;
    margin-top: 5px;
    margin-left: 5px;
    border-right:1px solid #000000;
  
}

ul{
    list-style-type: none;
  }

li{
    padding-top: 20px;
}

a{
    text-decoration: solid;
    /* color:white; */
    color: #023020;
    font-family:'Times New Roman';
}

#p1 {
    display:inline-block;
    margin:0;
    padding:10px 0px;
    font-family:Helvetica;
    color:gray;
    font-weight:bold;
}
#p2{ 
    display:inline-block;
    margin:5px;
    font-family:Helvetica;
    text-align: left;
    color:black;
    font-weight:bold;
}

h3{
    font-family:Helvetica;
    color:tomato;
    font-weight:bold;
    font-size:40px;
}


div.top{
    margin-top: 5px;
    margin-left: 5px;
    position:relative;
    width:84%;
    height:100%;  
    background-color:#EEEEEE; 
    display:inline-block;
    border-radius: 10px;
}

.t tr td{
    margin-top: 10px;
    margin-left: 5px;
    width: 240px;
    height: 240px;
    background-color:#EEEEEE; 
    border:1px;
    border-right:1px solid #000000; 
    border:2px solid white; 
    position:relative;
    padding-top:3px;
    text-align: center;
    border-radius: 10px;
}

#s4{
    border-radius: 10px;
    width:540px;
    height:540px;
}
#s5{
    border-radius: 10px;
    width:100%;
    height:auto;
}
#combine{
    margin-bottom:5px;
    height: 30 px;
    border-bottom:1px solid #000000;
    background-color: #023020;
    border:1px;
    border-radius: 5px;
    color:#ffffff;
}

#cat{
    width:32px;
    height:32px;
    background-color: #023020;
    border-radius: 5px;
      /* margin-top:400px; */
}
div.down{
        margin-top: 15px;
        margin-left: 5px;
        width:84%;
        border-radius: 10px;
        margin-left: 225px;
        text-align: center;
}